# Importing all necessary libraries

In [6]:
#importing necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data description
pregnant women health risk depends on some attributes which implies the health risk such as blood pressurem age, heart rate etc. this data has been collected from different healthcare facilities through the Internet-of-Things-based risk monitoring system (data source: https://www.kaggle.com/datasets/csafrit2/maternal-health-risk-data/data).

Data columns are all included-
Age: Age in years when a woman is pregnant.
SystolicBP: Upper value of Blood Pressure in mmHg, another significant attribute during pregnancy.
DiastolicBP: Lower value of Blood Pressure in mmHg, another significant attribute during pregnancy.
BS: Blood glucose levels is in terms of a molar concentration, mmol/L.
HeartRate: A normal resting heart rate in beats per minute.
Risk Level: Predicted Risk Intensity Level during pregnancy considering the previous attribute.

##### --Here Risk level has defined into high, medium nad low according to other attributes. High risk seems the health in high risk zone or in danger zone.
##### --Normal Systolic bp range is  110 to 139 and Distolic bp is  70 to 89. 
##### --Normal blood glucose level is (3.3-8) including before, after 1 hour and after 2 hours of meal.
According to a study(https://www.medicalnewstoday.com/articles/heart-rate-during-pregnancy)- 
##### --the average heart rate rises steadily through pregnancy. At 10 weeks, the average heart rate was 79.3 BPM. By 40 weeks, the average rate was 86.9 BPM.at conclusion, the heart rate maintains a normal range throught the pregnancy 79-87.

In [4]:
#calling dataset and read by pandas
maternal_data=pd.read_csv("Maternal Health Risk Data Set.csv")
maternal_data

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86  high risk
1      35         140           90  13.0      98.0         70  high risk
2      29          90           70   8.0     100.0         80  high risk
3      30         140           85   7.0      98.0         70  high risk
4      35         120           60   6.1      98.0         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80  high risk
1010   55         120           90  18.0      98.0         60  high risk
1011   35          85           60  19.0      98.0         86  high risk
1012   43         120           90  18.0      98.0         70  high risk
1013   32         120           65   6.0     101.0         76   mid risk

[1014 rows x 7 columns]

# Exploratory Data Analysis

In [5]:
maternal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB

In [9]:
maternal_data.describe()

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate
count,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000,1014.000000
mean,29.871795,113.198225,76.460552,8.725986,98.665089,74.301775
std,13.474386,18.403913,13.885796,3.293532,1.371384,8.088702
min,10.000000,70.000000,49.000000,6.000000,98.000000,7.000000
25%,19.000000,100.000000,65.000000,6.900000,98.000000,70.000000
50%,26.000000,120.000000,80.000000,7.500000,98.000000,76.000000
75%,39.000000,120.000000,90.000000,8.000000,98.000000,80.000000
max,70.000000,160.000000,100.000000,19.000000,103.000000,90.000000

In [10]:
maternal_data.describe(include=object)

       RiskLevel
count       1014
unique         3
top     low risk
freq         406

In [12]:
#Data cleaning
maternal_data.isnull().sum()

Age            0
SystolicBP     0
DiastolicBP    0
BS             0
BodyTemp       0
HeartRate      0
RiskLevel      0
dtype: int64

In [13]:
#data skewness

In [14]:
#outlier detection